-# in app/views/foods/show.html.haml
.w3-container
  %h2.w3-teal #{@food.short_description}

.w3-container

  %h3 Food Group #{@food.food_group_code_id}

  %h3 Macronutrients
  %p
    .w3-quarter.w3-yellow Carbohydrate
    .w3-quarter.w3-red Fat
    .w3-quarter.w3-green Protein
    .w3-quarter.w3-blue Nitrogen 
  %p  
    .w3-quarter= @food.carbohydrate_factor
    .w3-quarter= @food.fat_factor
    .w3-quarter= @food.protein_factor
    .w3-quarter= @food.nitrogen_factor





